<!DOCTYPE html>

<html>
    <head>
        <meta charset = "utf-8">
        <title>Some website</title>
    </head>
    <body>
        {{> header}}
        <p>My all projects are going to be here soon!</p>
      {{> footer}}
    </body>
</html>